.row
  .column
    %h1.ui.header 
      Editar Perfil
      .sub.header
        Formulário de edição de perfil. 
    .ui.hidden.divider
.ui.hidden.divider
.row
  .column 
    .ui.blue.segment
      = render 'form'
