%i.close.icon
.header
  Consulta Nº  #{@consult.id}
.image.content
  .ui.grid
    .row
      .column
        %h3
          %p= @consult.created_at.strftime("%d/%m/%Y às %H:%M")
    .row
      .sixteen.wide.column
        = @consult.content.html_safe

