- if @project.main_page.present?
  .row
    .column
      %h2
        %b= @project.main_page.title
  .row
    .column
      = @project.main_page.content
- else
  %i Necessário definir a página principal do projeto.