- if @project.main_page.present?
  .row
    .column
      %h2
        %b= @project.main_page.title.html_safe
  %br/
  .row
    .column.text-center
      = @project.main_page.content.html_safe
- else
  %i Necessário definir a página principal do projeto.