.row
  .column
    - unless [3,4].include?(@project.id)
      - if @project.main_page.present?
        %br/
        .row
          .column.text-center
            = image_tag '/images/imagem_0.jpg', width:'100%'
        %br/
        %br/
        %br/
        .row
          .column.text-center
            = @project.main_page.content.html_safe
      - else
        %i Necess치rio definir a p치gina principal do projeto.
    - else
      - if @project.main_page.present?
        .row
          .column.text-center
            = @project.main_page.content.html_safe
      - else
        %i Necess치rio definir a p치gina principal do projeto.
