.row
  .column
    %h1.ui.header 
      Informes
    = link_to "+ Adicionar Novo Informe", '#'

.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th Nº
          %th Data
          %th Publicado?
          %th Data
          %th
      %tbody
