.row
  .column
    %h1.ui.header 
      Documentação
    %b
    %b Projetos A3 enviados:
    #{@participations.count}
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th.collapsing Nº Inscrição
          %th Documentação
      %tbody
        - @participations.order(:id).each do |item| 
          %tr
            %td.collapsing= item.subscribe_id
            %td= link_to "Visualizar", project_document_path(@project, item)
            %td
              - if item.subscribe.send_participation_ok?
                .ui.label.mini.green
                  Completo
              - else
                .ui.label.mini.red
                  Incompleto
