.ui.grid
  .row
    .column
      %h2.ui.header 
        Participação
        .ui.sub.header
          Edição de projeto
      = link_to "Finalizar Acesso", logout_project_candidate_area_sessions_path(@project), method: :delete
      |
      = link_to "Voltar para o detalhamento", project_candidate_area_root_path(@project)

  .row
    .column 
        = render 'edit_form'