.row
  .column
    %h1.ui.header 
      Adicionar Nova Página
      .sub.header
        Formulário de criação de nova página. 
    .ui.hidden.divider
    %a{href: "#{admin.project_pages_path(@project)}", class:''} + Retornar para a Listagem
.ui.hidden.divider
.row
  .column 
    = render 'form'
