.row
  .column
    %h1.ui.header 
      Participações

.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th Nº Pasta
          %th Data
          %th Visualização
          %th
      %tbody
