.row
  .column
    %h1.ui.header 
      Participações
    %b
    %b Projetos A3 enviados:
    #{@participations.count}
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th.collapsing Nº Pasta
          %th Data
          %th Participação
          %th Visualização do projeto
      %tbody
        - @participations.order(:id).each do |item| 
          %tr
            %td.collapsing= item.id
            %td= item.created_at.strftime("%d/%m/%Y às %H:%M")
            %td
              - if item.subscribe.send_members?
                .ui.label.mini.green Equipe técnica
              - else
                .ui.label.mini.gray Equipe técnica

              - if item.subscribe.send_juridical?
                .ui.label.mini.green Documentação jurídica
              - else
                .ui.label.mini.gray Documentação jurídica
            - if ::Subscribe.allow_project?
              %td 
                %i Bloqueado
            - else
              %td.collapsing= link_to "Visualizar projeto", item.participation_path_url, target: '_blank'