.row
  .column
    %h1.ui.header 
      Pop-ups
    = link_to "+ Adicionar Novo Pop-up", '#'

.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th Nº
          %th Título
          %th Página
          %th Publicado?
          %th
      %tbody
