.ui.menu
  .header.item Gestão de Concursos
  %a.item{href: "#{admin.root_path}"} Dashboard
  %a.item{href: "#{admin.projects_path}"} Projetos
  %a.item{href: "#{admin.bills_path}"} Financeiro
  %a.item{href: "#{admin.users_path}"} Usuários
  .right.menu
    .ui.dropdown.item
      Usuário
      %i.dropdown.icon
      .menu
        %a.item Meu perfil
        %a.item Sair 