.row
  .column
    %h1.ui.header 
      Adicionar Novo Menu
      .sub.header
        Formulário de criação de novo menu. 
    .ui.hidden.divider
    %a{href: "#{admin.project_navs_path(@project)}", class:''} + Retornar para a Listagem
.ui.hidden.divider
.row
  .column 
    = render 'form'
