.row
  .column
    %h1.ui.header 
      Inscrições
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th Total de inscritos
          %th Total de homologados
          %th Total de indeferidos
          %th Total de envio de projetos
      %tbody
        %tr
          %td 0
          %td 0
          %td 0
          %td 0
.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th Nº
          %th CPF
          %th Pagamento
          %th Situação
          %th Envio do projeto
          %th
      %tbody
