.row
  .column
    %h1.ui.header 
      Vencedores

.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th Nº Inscrição
          %th Nº Pasta
          %th Classificação
          %th
      %tbody
