.row
  .column
    %h1.ui.header 
      Boletos

.ui.hidden.divider
.row
  .column
    %table.ui.celled.table.striped
      %thead
        %tr
          %th Nº
          %th Nº de inscrição
          %th Valor
          %th Vencimento
          %th Situação
          %th Data de pagamento
          %th
      %tbody
