body, input, select, textarea {
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
  background-color: #fff7f1 !important;
  margin-bottom: 100px;
}

.navbar-default {
  background-color: white !important;
  border-bottom: #d61130 solid 2px;
  border-radius: 0px !important;
}

.panel-default > .panel-heading {
  background-color: #af0d26 !important;
  color: white !important;
}