body {
  font-family: 'PT Sans Narrow', sans-serif !important;
  color:  #1c1c1c !important;
}

body {
  font-size: 18px !important;
  background-color: #f9f9f9 !important;
  margin-bottom: 100px !important;
}

.menu {
  border-bottom: #e93036 2px solid !important;
}

.segment {
  text-align: justify !important;
}

.ui .button .red input {
  color: white !important;
}