.row
  .column
    %h2
      %b Nova consulta

.row
  .column
    = @project.consult_text.html_safe
%br/
.row
  .column
    - if @project.allow_consult?
      = render 'form'
    - else
      %i Consultas não estão abertas ou já foram encerradas, consulte o cronograma. 